*{
    background-color: rgba(127, 255, 212, 0.281); 
    
}
#contenedor_cards{
    width: 80vw;
    display: flex;
    background-color:  rgba(82, 82, 122, 0.37);
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.card{
    width:  200px;
    height: 200px;
    margin: 10px;
     text-align: center;
    

    background-color: rgba(139, 180, 24, 0.836);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(13, 32, 17, 0.178);
}

.card img{
    width:  100px;
}

.card p {
    font-size: 18px;
    font-weight: bold;
}